<html>

<head>
	<title>Welcome to Exemplia!</title>
	<%- include('header.ejs'); %>
</head>

<body>
	<h1 id="header">Exemplia</h1>

	<div class="content"><ul id="chat"></ul></div>
	<div id="chatinterface">
		<input type="text" id="chatter"></input>
		<button onclick='chatMessage();'>Chat</button>
	</div>

	<div id="controller">
		<h3 align="center">Player name</h3>
		Current character:
		<select id="characterpicker">
			<!-- Load player characters as list items-->
			<option value="newcharacter">Create a new character</option>
		</select>&nbsp;&nbsp;
		<button onclick='chooseCharacter();'>Go</button>
		<button onclick="for(let i in displayedCharacter) writeMessage(i+': '+displayedCharacter[i]);">?</button><br/><br/>

		<div id="character_window" style="display:none">
			<%- include('descriptiveBlock.ejs') %>
			<%- include('attributeBlock.ejs') %>
			<%- include('skillBlock.ejs') %>
		</div>
		<div id="action_window">

		</div>
	</div>
	
	<script>
	var playername = '<%= playername %>';
	</script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="js/gameclient.js"></script>
	<%- include('navbar.ejs'); %>
</body>

</html>
